body {
  text-align: center;
}
h1 {
  font-size: 50px;
  display: none;
}
h2 {
  font-size: 50px;
}
.spin-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-right: 200px;
}
#spin {
  margin-right: 50px;
  border-radius: 50%;
  font-size: 50px;
  padding: 25px;
}
.box {
  font-size: 50px;
  padding: 100px;
  border: 5px solid black;
  margin-left: 50px;
  margin-right: 50px;
}
.jackpot {
    display: none;
}