* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.slot-item {
  font-size: 50px;
  padding: 50px;
}
.you-win-text {
  text-align: center;
  font-size: 100px;
  color: white;
  display: none;
}
.spin-slots {
  font-size: 100px;
  color: black;
}
.container-fluid {
  padding-top: 25px;
}
.p-2.mt-3 {
  font-size: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.p-2.mx-3 {
  font-size: 100px;
  padding-top: 0;
}
body {
  background-image: url("https://images.unsplash.com/photo-1518895312237-a9e23508077d?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1184");
  background-size: cover;
}
#line1,
#line2,
#line3 {
  text-decoration: underline;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;
}
#header {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;
}
#spin-button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;
}

#tries-left {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  
  font-size: 30px !important;
}
