body {
  background-image: url("https://coolwallpapers.me/picsup/1376841-casino.jpg");
  background-size: cover;
}
.slot-number {
  font-size: 50px;
}
.you-win-text {
  text-align: center;
  font-size: 100px;
  color: white;
  display: none;
}
.spin-slots {
  text-align: center;
  font-size: 100px;
  color: white;
}
.table-slots {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.spin-button {
  text-align: center;
}
button {
    font-size: 50px;
    
}
